<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Income and Expense details</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Value</th>
                  <th>Type</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of incomesExpenses | incomeExpenseOrder">
                  <td>{{ item.description }}</td>
                  <td>{{ item.value | currency }}</td>
                  <td [class.text-success]="item.type == 'INCOME'" [class.text-danger]="item.type !== 'INCOME'">{{ item.type }}</td>
                  <td>
                    <button type="button" (click)="remove(item.firestoreId)" class="btn btn-warning btn-sm"><i class="fa fa-trash"></i>Remove</button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
